# Appium
APPIUM_SERVER=http://localhost:4723
PLATFORM_NAME=Android
AUTOMATION_NAME=UiAutomator2

# Dispositivo / emulador
DEVICE_NAME=seu_device_ou_emulator

# App
APP_PACKAGE=br.com.quantaPrevidencia.debug
APP_ACTIVITY=br.com.quantaPrevidencia.ui.splash.SplashActivity

# Credenciais de teste
CPF=
CPF_INVALIDO=
SENHA=
SENHA_INVALIDA=
